@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(90deg, rgba(91,30,159,1) 0%, rgba(77,39,182,1) 100%);
}

body h2 {
  color: white;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

.logo_cabecalho{
  max-width: 105px;
  
}

.cabecalho {
  background: gray;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu_cabecalho{
  color: white;
  display: inline-flex;
  
  
  /*right: 0;
  top: 0;*/
  }
  
  .Menu_cabecalho li a{
      margin-left: 50px;
      
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      font-family: "Press Start 2P", system-ui;
      text-decoration: none;
      color: black;
  }
  
  
  .Menu_cabecalho a:hover{
  
      border-width: 4px;
      border-bottom: solid;
      border-image: linear-gradient(to right, rgb(255, 8, 8), rgb(255, 161, 21), rgb(255, 232, 24)) 1;
      vertical-align: top;
      display: flex;
  }
  
  .icones_menu{
      max-width: 60px;
      margin-bottom: 10px;
  }

  .cor_fundo{
    background: black;
}

.subir{
  top: 0px;
  position: relative;
}